.header {
    background-color: #3f51b5;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.input {
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 4px 0 0 4px;
}